.left_rectangle {
    width: 25%;
    height: 100%;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}
/* .right_rectangle {
    width: 1%;
    height: 50%;
    background-color: #0DBC62;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 0;
} */
.input-container {
    display: flex;
    justify-content: flex-start;
}
.inputs {
    margin: 30px;
}
.parent {
    display: flex;
    align-items: center;
    padding-top: 14px;
    margin-left: 25px;
    
}
.search-container {
    margin-top: 25px;
    position: relative;
    /* width: 285px; */
    width: 75%;
}
.search-input {
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 75px;
    color: black;
    font-size: 16px;
    text-indent: 40px;
}
#search-icon {
    color: grey;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
}
.sign-out-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    bottom: 20px;
}
.sign-out-button {
    width: 100%;
    height: 60px;
    background-color: #0DBC62;
    border-radius: 10px;
    font-size: 22px;
    cursor: pointer;
    border: 0;
}
.sign-out-button:hover {
    background-color: #11E779;
}
.shieldPass-text {
    color: #0DBC62;
    text-align: center;
    font-size: 30px;
    margin-top: 35px;
}
.button-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    margin-top: 60px;
}
.icon-button {
    display: flex;
    flex-direction: row;
    width: 280px;
    margin-top: 0;
}
#button-icon {
    color: white;
    position: absolute;
    margin-top: 3px;
    font-size: 24px;
}
.settings-text,
.button-text {
    font-size: 25px;
    color: white;
    text-align: center;
    position: relative;
}
.all-button {
    position: absolute; 
    width: 300px;
    height: 60px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 20px;
    bottom: -17px;
    border: 0;
}
.button-container:hover .button-text,
.button-container:hover #button-icon {
    opacity: 0.5; 
}
.settings-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    bottom: 10px;
}
.settings-button{
    position: absolute; 
    width: 300px;
    height: 45px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 20px;
    top: -10px;
    border: 0;
}
.settings-container:hover .settings-text,
.settings-container:hover #button-icon {
    opacity: 0.5; 
}