<!DOCTYPE html>
<html lang="en">
<html>

<head>
  <meta charset="UTF-8" />
  <title>Log In Page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/reset_password.css') }}">
</head>

<body>
  <div class="right_rectangle"></div>
  <div class="left_rectangle"></div>
  <img class="logo" alt="shieldPass Logo" loading="eager" src="{{ url_for('static', filename='images/logo.png') }}" />
  <div class="input-holder">
    <div class="reset-pass-text"><h1>Reset Password</h1></div>
    <div class="forgot-pass"><p>Forgot your password?</p></div>
    <div class="enter-email"><p>Enter your email and we'll send it to you!</p></div>
    <div class="no-account-container">
      <div class="no-account-text"><p>Already have an account? <span style="color: #0DBC62;" id="signupLink">Sign in here</span></p></div>
      <div class="log-in-button-container"><button class="log-in-button" onclick="window.location.href='/'" id="signupButton"></button></div>
    </div>
    <form id="loginForm" action="/reset_password" method="post">
      <div class="inputs">
        <div style="margin-bottom: 6px;"><p style="font-size: 20px;">Email</p></div>
        <input class="input" id="email_input" name="email_input" type="text" value="{{ email }}" placeholder="Email">
        <p class="invalid_email" id="invalid_email">Invalid email address.</p>
      </div>
    </form>
    <div class="inputs">
      <div class="reset-container">
        <div class="enter-box"></div>
        <button class="enter-button" onclick="ValidateEmail()">Enter</button>
      </div>
      {% if message %}
        <p class="invalid_user" id="user_message">{{ message }}</p>
      {% endif %}
    </div>
  </div>

  <script>
    const signupButton = document.getElementById('signupButton');
    const signupLink = document.getElementById('signupLink');

    function ValidateEmail() {
      var validRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;

      clearMessage("user_message");

      if ((document.getElementById('email_input')).value.match(validRegex)) {
        showEmailMessage(true);
        return true;
    
      } else {
        showEmailMessage(false);
        return false;
      }
    }
    
    function showEmailMessage(input) {
      var email_i = document.getElementById('invalid_email');
    
      email_i.style.display = 'none';
    
      if (input === true) {
        document.getElementById("loginForm").submit();
      }
      else {
        email_i.style.display = 'block';
      }
    }

    function clearMessage(id) {
      var messageElement = document.getElementById(id);
      if (messageElement) {
          messageElement.innerText = "";
      }
    }
    signupButton.addEventListener('mouseenter', () => {
      signupLink.style.opacity = '0.7';
    });
    signupButton.addEventListener('mouseleave', () => {
      signupLink.style.opacity = '1';
    });
  </script>
</body>

</html>