<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password Sent</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/log_in_page.css') }}">
</head>

<body>
    <div class="right_rectangle"></div>
    <div class="left_rectangle"></div>
    <img class="logo" alt="shieldPass Logo" loading="eager" src="{{ url_for('static', filename='images/logo.png') }}"/>
    <div class="inputs-container">
        <div class="password-sent"><h1>Reset password link sent to email</h1></div>
    </div>

</body>
</html>